<h2>Customers</h2>
<div style="padding-left:10px;">
  <span style="color: green;">
    <strong>{{uiMsg? uiMsg : "" }}</strong>
  </span>
</div>
<div>
  <div style="float: left;padding-left:10px;">
    <div>
      <label>Customer name:</label>
    </div>
    <div>
      <input #name />
    </div>
  </div>
  <div style="float: left;padding-left:10px;">
    <div>
      <label>Age</label>
    </div>
    <div>
      {{newCustomerAge?newCustomerAge:0}} years
    </div>
  </div>
  <div style="float: left;padding-left:10px;">
    <div>
      <label>DOB</label>
    </div>
    <div>
      <input type="date" #dob value="1990-07-22" min="1920-01-01" max="2020-12-31"
        (change)="calculateAge(dob.value);"/>
    </div>
  </div>
  <div style="float: left;padding-left:10px;">
    <div>
      <label>Occupation</label>
    </div>
    <div>
      <select #occupationId (change)="calculatePremium(dob.value,occupationId.value,insuranceAmount.value)">
        <option value="0">please select occupation</option>
        <option value="1">Cleaner</option>
        <option value="2">Doctor</option>
        <option value="3">Author</option>
        <option value="4">Farmer</option>
        <option value="5">Mechanic</option>
        <option value="6">Florist</option>
      </select>
    </div>
  </div>
  <div style="float: left;padding-left:10px;">
    <div>
      <label>Occupation Rating Factor</label>
    </div>
    <div>
      <input [(ngModel)]="ratingFactor" readonly />
    </div>
  </div>
  <div style="float: left;padding-left:10px;">
    <div>
      <label>Insurance amount</label>
    </div>
    <div>
      <input type="number" #insuranceAmount  placeholder="required!" />
    </div>
  </div>
  <div style="float: left;padding-left:10px;">
    <div>
      <label>Monthly premium (AU$)</label>
    </div>
    <div>
      <input [(ngModel)]="monthlyPremium" readonly />
    </div>
  </div>
  <div style="float: left;padding-left:10px;">
    <div>
      &nbsp;
    </div>
    <div>
      <button (click)="add(name.value, dob.value, occupationId.value, insuranceAmount.value);">
        add
      </button>
    </div>
  </div>

  <div style="clear: both;border-bottom:1px dotted #000;min-height:10px;">
  </div>
</div>
<div style="clear:both;margin: 5px 0px 10px 5px;" class="">
  <div style="float: left;padding-left: 10px;width:10%;"><strong>Name</strong></div>
  <div style="float: left;padding-left: 10px;width:10%;">Age (Years)</div>
  <div style="float: left;padding-left: 10px;width:10%;"> DOB <br /> (mm/dd/yyyy)</div>
  <div style="float: left;padding-left: 10px;width:10%;"> Occupation</div>
  <div style="float: left;padding-left: 10px;width:10%;">Occupation<br />Rating</div>
  <div style="float: left;padding-left: 10px;width:10%;">Rating<br />Factor</div>
  <div style="float: left;padding-left: 10px;width:10%;">Insurance<br />Amount(AU$)</div>
  <div style="float: left;padding-left: 10px;width:10%;">Monthly <br />
    premium(AU$)</div>
  <div style="float: left;padding-left: 10px;">
  </div>
  <div style="clear: both;border-bottom:1px solid #000;">
  </div>
</div>
<div *ngFor="let customer of customers" style="clear:both;margin: 5px 0px 0px 5px;min-height: 25px;" class="">
  <div style="float: left;padding-left: 10px;width:10%;">{{customer.Name}}</div>
  <div style="float: left;padding-left: 10px;width:10%;">{{insurancePremiumUtiltiy.getAge(customer.DOB)}}</div>
  <div style="float: left;padding-left: 10px;width:10%;"> {{customer.DOB | date:'shortDate'}}</div>
  <div style="float: left;padding-left: 10px;width:10%;"> {{customer.OccupationName}}</div>
  <div style="float: left;padding-left: 10px;width:10%;">{{customer.OccupationRatingName}}</div>
  <div style="float: left;padding-left: 10px;width:10%;">{{customer.OccupationRatingFactor}}</div>
  <div style="float: left;padding-left: 10px;width:10%;">{{customer.InsuranceAmount | currency:'AUD'}}</div>
  <div style="float: left;padding-left: 10px;width:10%;">
    {{((customer.InsuranceAmount*customer.OccupationRatingFactor*getAge(customer.DOB))/1000*12).toFixed(2) | currency:'AUD'}}
  </div>
  <div style="float: left;padding-left: 10px;">
  </div>
  <div style="clear: both;border-bottom:1px solid #000;">

  </div>
</div>