<h2>Customer occupations</h2>
<div style="clear:both;margin: 5px 0px 10px 5px;" class="">
  <div style="float: left;padding-left: 10px;width:10%;"><strong>Occupaton</strong></div>
  <div style="float: left;padding-left: 10px;width:10%;"><strong>Rating</strong></div>
  <div style="float: left;padding-left: 10px;">
  </div>
  <div style="clear: both;border-bottom:1px solid #000;">
  </div>
</div>
<div *ngFor="let occupation of occupations" style="clear:both;margin: 5px 0px 0px 5px;min-height: 25px;" class="">
  <div style="float: left;padding-left: 10px;width:10%;">{{occupation.Name}}</div>
   <div style="float: left;padding-left: 10px;width:10%;">{{occupation.RatingName}}</div>
   
  <div style="float: left;padding-left: 10px;">
  </div>
  <div style="clear: both;border-bottom:1px solid #000;">

  </div>
</div>